/* For the whole site */
body {
      background: #0a192f;
      height: 100vh;
      margin: 0;
      overflow: scroll;
      font-family: 'Courier New', monospace;
      color:#ccd6f6;
      font-size: 16px;
      }
  
  h1 {
      color:#FFFFFF;
      font-size: 35px;
     }

    h2 {
       color:#8892b0;
       font-size: 30px;
       }

      header,
      footer {
             font-weight: bolder;
             display: flex;
             justify-content: space-between;
             align-items: center;  
             }
        
        a {
          color: #FFFFFF;
          text-decoration: none;
          }

          ul.nav {
                  font-weight:bold;
                  display: flex;
                  list-style: none;
                  padding: 10px;
                  gap: 10px;
                  align-items: center;
                 }

            .footnote {
                       font-size: 12px;
                      }

              button {
                      border:solid 2px;
                      border-color: #ccd6f6;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      height: 30px;
                      width: 150px;
                      background-color: #0a192f;
                      border-radius: 5px;
                     }

/* For Home Page */

.intro {
        width: 95%;
        margin: 10px;
        border: solid 2px;
        border-radius: 0 20px 20px 20px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: left;
       }

  .big-heading {
                font-size: 50px;
                color: #ccd6f6;
                margin: 0px;
               }

    .email-link {
                 color:#ccd6f6;
                 font-size: large;
                }

/* For About Page */

.container {
            display:flex;
            flex-direction: column;
            align-items: center;
           }
        
  ul.courses {
              list-style-type:circle;
              max-width: 80%;
             }

  .about, 
  .experience, 
  .education, 
  .resume {
           max-width: 80%;
           padding: 10px;
           margin: 10px;
           border: solid #ccd6f6 3px;
           border-radius: 0 30px 30px 30px;
          }

    .contact {
              display:flex;
              flex-direction: column;
              align-items: center;
              max-width: 20%;
              padding: 10px;
              margin:10px;
              border: solid #ccd6f6 3px;
             }

/* For Portfolio Page */
/* For Contact Page */