/* For the whole site */
body {
      background: #0a192f;
      height: 100vh;
      margin: 0;
      overflow: scroll;
      font-family: 'Courier New', monospace;
      color:#ccd6f6;
      font-size: 16px;
      }
  
  h1 {
      color:#FFFFFF;
      font-size: 30px;
      font-family: 'Bungee Shade', cursive;
      margin: 0;
     }

    h2 {
       color:#ccd6f6;
       font-size: 28px;
       margin: 0;
       }

      header,
      footer {
             font-weight: bolder;
             display: flex;
             justify-content: space-between;
             align-items: center;  
             }
        
             .mylogo {
              color:#FFFFFF;
              font-size: 25px;
              font-family: 'Bungee Shade', cursive;
              margin: 0;
             }

        a {
          color: #FFFFFF;
          text-decoration: none;
          font-size: 14px;
          }

          ul.nav {
                  font-weight:bold;
                  display: flex;
                  list-style: none;
                  padding: 10px;
                  gap: 10px;
                  align-items: center;
                 }

            .footnote {
                       font-size: 12px;
                      }

              button {
                      border:solid 2px;
                      border-color: #ccd6f6;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      height: 30px;
                      width: 150px;
                      background-color: #0a192f;
                      border-radius: 5px;
                     }

/* For Home Page */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: thick double #2172ff;
  border-radius: 40px;
  max-width: 75%;
  margin: auto;
  
}

.bigtitle {
  color:#2172ff;
  font-size: 40px;
  font-family: 'Bungee Shade', cursive;
  margin: 0;
}

.intro, .gratitude {
        width: 95%;
        margin: 10px;
        border: solid 2px;
        border-radius: 0 20px 20px 20px;
        padding: 20px;
       }

  ul.gratlist {
    padding: 5px;
  }

  li.gratitem {
    margin-bottom: 15px;
  }

  .email-link {
               color:#ccd6f6;
              }

/* For Experience Page */

.container {
            display:flex;
            flex-direction: column;
            margin-left: 5%;
           }
        
  ul.courses {
              list-style-type:circle;
              max-width: 80%;
             }

  .about, 
  .experience, 
  .education, 
  .resume {
           max-width: 80%;
           padding: 10px;
           margin: 10px;
           border: solid #ccd6f6 3px;
           border-radius: 0 30px 30px 30px;
          }

    .contact {
              display:flex;
              flex-direction: column;
              align-items: center;
              max-width: 20%;
              padding: 10px;
              margin:10px;
              border: solid #ccd6f6 3px;
             }


/* For About Page */
.container1 {
  display:flex;
  margin: 0 2% 0 2%;
 }

.climbing, .building, .art, .funfacts {
  max-width: 50%;
  padding: 10px;
  margin: 10px;
  border: solid #ccd6f6 3px;
  border-radius: 0 30px 30px 30px;
  align-items: center;
  justify-content: center;
}

/* For Portfolio Page */
.pdfframe {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* For Contact Page */

.container2 {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: solid #ffffff; 
  border-radius:50px;
  padding: 10px;
  max-width: 55%;
 }