/* For the whole site */

html {
  font-family: 'Courier New', monospace;
}

body {
      background: #0a192f;
      overflow: scroll;
      color:#ccd6f6;
      margin: 0 auto;
      width: 80%;
      }
  
h1 {
      color:#FFFFFF;
      font-family: 'Bungee Shade', cursive;
      letter-spacing: 2px;
      font-size: 3.5vw;
      text-align: center;
    }
    
h2 {
    color:#ccd6f6;
    font-size: 3.2vw;
   }

   h3 {
    color:#ccd6f6;
    font-size: 3.0vw;
   }

p,li {
   line-height: 1.5;
   font-size: 2.5vw;
  }

  a {
    color: #FFFFFF;
    text-decoration: none;
    line-height: 1.5;
    font-size: 2.5vw;
    }
      
      footer {
             font-weight: bolder;
             display: flex;
             justify-content: space-between;
             align-items: center;  
             }
        
             .mylogo {
              color:#FFFFFF;
              font-size: 4vw;
              font-family: 'Bungee Shade', cursive;
              margin: 0;
             }


/* [ON BIG SCREEN] */
/* (A) WRAPPER */
#hamnav {
  width: 100%;
  background: #000;
}

/* (B) HORIZONTAL MENU ITEMS */
#hamitems { display: flex; }
#hamitems a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
}
#hamitems a:hover { background: #2172ff; }

/* (C) HIDE HAMBURGER */
#hamnav label, #hamburger { display: none; }

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
  /* (A) BREAK INTO VERTICAL MENU */
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }
 
  /* (B) SHOW HAMBURGER ICON */
  #hamnav label { 
    display: inline-block; 
    color: white;
    background: #2172ff;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  /* (C) TOGGLE SHOW/HIDE MENU */
  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: block; }
}

ul.nav {
                  font-weight:bold;
                  display: flex;
                  list-style: none;
                  padding: 10px;
                  gap: 10px;
                  align-items: center;
                 }

            .footnote {
                       font-size: 12px;
                      }

              button {
                      border:solid 2px;
                      border-color: #ccd6f6;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      height: 30px;
                      width: 150px;
                      background-color: #0a192f;
                      border-radius: 5px;
                     }

/* For Home Page */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: thick double #2172ff;
  border-radius: 40px;
  max-width: 75%;
  margin: auto;
  
}

.bigtitle {
  color:#2172ff;
  font-family: 'Bungee Shade', cursive;
  letter-spacing: 2px;
  font-size: clamp(1.8rem, 3.0vw, 3.5rem);
  text-align: center;
}

.landingcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.intro, .gratitude {
        width: 95%;
        margin: 10px;
        border: solid 2px;
        border-radius: 0 20px 20px 20px;
        padding: 20px 20px 0 20px;
       }

  ul.gratlist {
    padding: 5px;
  }

  li.gratitem {
    margin-bottom: 15px;
    line-height: 1.5;
    font-size: 2.5vw;
  }
  
  a.gratlinks {
    color: #FFFFFF;
    text-decoration: underline;
  }

  .email-link {
               color:#ccd6f6;
              }

/* For About Page */
.container1 {
  display:flex;
  margin: 0 2% 0 2%;
  width: 100%;
 }

.climbing, .building, .art, .funfacts {
  max-width: 50%;
  padding: 10px;
  margin: 10px;
  border: solid #ccd6f6 3px;
  border-radius: 0 30px 30px 30px;
  align-items: center;
  justify-content: center;
}

/* For Experience Page */

.container {
            display:flex;
            flex-direction: column;
            margin-left: 5%;
           }
        
  ul.courses {
              list-style-type:circle;
              max-width: 80%;
             }

  .about, 
  .experience, 
  .education, 
  .resume {
           max-width: 100%;
           padding: 10px;
           margin: 10px;
           border: solid #ccd6f6 3px;
           border-radius: 0 30px 30px 30px;
          }

    .contact {
              display:flex;
              flex-direction: column;
              align-items: center;
              max-width: 100%;
              padding: 10%;
              margin:10%;
              border: solid #ccd6f6 3vw;
             }

/* For Portfolio Page */
.pdfframe {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* For Contact Page */

.container2 {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: solid #ffffff; 
  border-radius:50px;
  padding: 10px;
  max-width: 100%;
  min-width: 0;
 }